*.pyc
*.out
*.egg-info
*.eggs

build/
dist/
.idea/
.vscode
venv/
env/

.ipynb_checkpoints/

.DS_Store
.env
.tox
.coverage
.pytest_cache
/data/
/config/
/wapoenv/
/live/
/notebooks/
outtest.csv
/.aws/
tests/fixtures/config/2018-11-06_GA_G.json
tox.ini
tox.ini
